section.feature
	h3 Sound Reactive
	p
		| Analyze audio frequencies around you in real time to generate stunning visualizations that dance to the beat.
		| The built in microphone samples music independently.

section.feature
	h3 Dance Reactive
	p
		| Onboard 3-axis accelerometer translates your motion into light.
		| Bust out your best moves with a new level of fire to set the night ablaze.

section.feature
	h3 Bluetooth Wireless Control
	p
		| Control your crown from up to 30 feet away using Bluetooth Low Energy with your smartphone.

section.feature
	h3 Wearable
	p
		| The aluminum core allows for flexibility in how you wear your flowers.
		| Bend your crown into a bracelet, braid it into your hair, wrap it around your backpack, whatever you can think up!

section.feature
	h3 Custom Effects
	p
		| Over 100 unique effects to choose from with adjustable settings lets you set the stage.

section.feature
	h3 Your Favorite Colors
	p
		| 16.8 Million colors at your fingertips with individually addressable LEDs and custom palettes give you complete chroma control.

section.feature
	h3 Be Seen
	p
		| Stand out in a crowd with over 100 lumens at your fingertips.
		| Make new friends and find old ones with ease.

section.feature
	h3 Glow All Night
	p
		| Up to 14 hours of battery life to keep the party going until the sun comes up.*
		| *Battery life varies depending on the selected effect and brightness level.

section.feature
	h3 Rechargeable
	p
		| Plug in your device during the day via USB-C to recharge the onboard 1200mAh Lithium Polymer battery.
		| Extend your battery life on the go with any portable battery pack.
