.keep-lit {
	label {
		display: none;
	}

	input, button {
		color: $text-color;
		border-color: $text-color;

		margin-right: 1em;
		padding: 6px 12px;
		line-height: 1.42857143;
		border: 1px solid $text-color;
		border-radius: 4px;
		background-color: rgba(0,0,0,0.4);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, color ease-in-out .15s;

		&:focus {
			border-color: $accent-color;
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($accent-color,.6)
		}

		&::placeholder {
			color: $text-color;
		}
	}

	button {
		cursor: pointer;

		&:focus {
			color: $accent-color;
		}
	}

	.field-group {
		display: inline-block;
	}
}
