@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "variables";
@import "keepLit";

html {
	font-family: 'Ubuntu', sans-serif;
	font-size: $font-size;
}

body {
	margin: 0;
}

// #page {
// 	display: flex;
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	margin: 0;
// 	overflow: auto;
// 	-webkit-overflow-scrolling: touch;
// }

h1 {
	font-size: 8em;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0.4em;
}

h1, h2 {
	font-weight: 400;
}

.placeholder-hero {
	margin: auto;
	text-align: center;
	color: #555555;
}

// .bluum-video {
//   position: fixed;
//   top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	margin: 0;

// 	.hero-video {
// 		max-width: none;
// 		max-height: 100%;
// 		min-width: 100%;
// 		min-height: 100%;
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translateX(-50%) translateY(-50%);
// 	}
// }
