doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title blϋϋm
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="/manifest.json")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bd564")
		meta(name="theme-color" content="#ffffff")

		link(
			rel="stylesheet"
			type="text/css"
			href="./index.css"
		)

	body
		section.bluum-video
			video(autoplay, loop).hero-video
				source(src="/content/bluum-life.webm" type="video/webm; codecs=vp9")
				source(src="/content/bluum-life.mp4" type="video/mp4")

		section.bluum-content
			section.bluum-header
				h1 blϋϋm
				p Light up the night with the world’s most advanced music &amp; dance reactive flower crown
				.keep-lit
					include ./keepLit.tpl.pug

			//- section.bluum-features
			//- 	include ./features.tpl.pug

			//- section.keep-lit


